{% extends '::base.html.twig' %}
{% block titre %}Bienvenue sur le site de l'hotel Voluptia{% endblock %}
{% block stylesheets %}
<script type="text/javascript" src="{{asset('bundles/resanetsite/js/jquery-1.7.1.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('bundles/resanetsite/css/site.css')}}" media="all" />
<link rel="stylesheet" type="text/css" href="{{asset('bundles/resanetsite/css/gridSystem.css')}}" media="all" />
<script type="text/javascript" src="{{asset('bundles/resanetsite/js/fonctionDate.js')}}"></script>
{% endblock %}
{% block body %}

<header>
    <div id="subheader" class="container_10">
        <div id="logo" class="grid_3" >
            <img src="{{asset('bundles/resanetsite/images/logo.png')}}" alt="" />
        </div>

        <nav class="grid_7">
            <ul class="main-nav">
                <li><a href="{{path('ResanetSiteBundle_index')}}">Accueil</a></li>
                <li><a href="{{path('ResanetSiteBundle_hotel')}}">l'hôtel</a></li>
                <li><a href="{{path('ResanetSiteBundle_chambres')}}">Nos Chambres</a></li>
                <li><a href="{{path('ResanetSiteBundle_reservation')}}">Reservez en ligne</a></li>
                <li><a href="{{path('ResanetSiteBundle_acces')}}">Accès</a></li>
                <li><a href="{{path('ResanetSiteBundle_contact')}}">Nous contacter</a></li>
            </ul>
        </nav>
        <div class="clear"></div>    
        </div>
</header>

<div id="picture">
    <img width="100%" src="{{asset('bundles/resanetsite/images/ossau.jpg')}}"></img>
</div>

<div id="content" >
  <div id="contenu" class="container_10">
    
    {%block contenu%}
        <h1>HTML Ipsum Presents</h1>

        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

        <h2>Header Level 2</h2>

        <ol>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>

        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

        <h3>Header Level 3</h3>

        <ul>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>

    {%endblock %}
    </div>
</div>
<!-- fin du contenu -->

{% endblock %}
