{% extends 'ResanetBackendBundle:Admin:admin.html.twig'%}
{% block title %}
Liste des paramètres
{% endblock %}
{%block menu%}
{% include 'ResanetBackendBundle:Admin:menu.html.twig' with {'active' : 'parametres'} %}
{%endblock%}
{% block content %}
<div class="imageBtn">
    <a href="{{path('Admin_listeChambre')}}"><img src="{{asset('bundles/resanetbackend/images/')}}chambre.png" alt="" />
    <p>Chambres</p></a>
</div>
<div class="imageBtn">
    <a href="{{path('Admin_listeCategorie')}}"><img src="{{asset('bundles/resanetbackend/images/')}}categorie.png" alt="" />
    <p>Catégorie</p></a>
</div>
<div class="imageBtn">
    <a href="{{path('Admin_listeIndispo')}}"><img src="{{asset('bundles/resanetbackend/images/')}}indispo.png" alt="" />
    <p>Indispo</p></a>
</div>
<div class="imageBtn">
    <a href="{{path('Admin_listePeriode')}}"><img src="{{asset('bundles/resanetbackend/images/')}}periode.png" alt="" />
    <p>Période</p></a>
</div>
<div class="imageBtn">
    <a href="{{path('Admin_listeUtilisateur')}}"><img src="{{asset('bundles/resanetbackend/images/')}}utilisateur.png" alt="" />
    <p>Utilisateur</p></a>
</div>
<div class="imageBtn">
    <a href="{{path('Admin_listeOptionRes')}}"><img src="{{asset('bundles/resanetbackend/images/')}}option.png" alt="" />
    <p>Options</p></a>
</div>
<div class="imageBtn">
    <a href="{{path('Admin_listeCoupon')}}"><img src="{{asset('bundles/resanetbackend/images/')}}ticket.png" alt="" />
    <p>Coupons</p></a>
</div>
<div class="imageBtn">
    <a href="{{path('Admin_listeReduction')}}"><img src="{{asset('bundles/resanetbackend/images/')}}coupon.png" alt="" />
    <p>Réductions</p></a>
</div>

<script>
    $('a','.imageBtn').button();
    </script>
{%endblock%}